.darkMainContainer {
    min-height: 3rem;
    background: linear-gradient(16.79deg, #353A65 -68.03%, rgba(42, 46, 81, 0) 81.88%);
    box-shadow: -3px 4px 5.8px 5px #00000045, 3px -4px 4px 0px #B3AAAA2E;
}

.container2 {
    background: linear-gradient(198deg, rgba(24,26,45,1) 10%, rgba(135,141,203,0.25) 90%);
    box-shadow: -2px 3px 4.3px 1px #0000007A, 1px -1px 2.5px 0px #EBE0E082, 0px 4px 10.8px 2px #3F4D6C inset;
}

.container2active {
        background: var(--accent-color-normal);
        box-shadow: -2px 3px 4.3px 1px rgba(0, 0, 0, 0.48), 1px -1px 2.59px 0px rgba(235, 224, 224, 0.51),0px 4px 10.80px 2px rgba(70, 174, 45, 1) inset;
}

.container2withHover {
    background: linear-gradient(198deg, rgba(24,26,45,1) 10%, rgba(135,141,203,0.25) 90%);
    box-shadow: -2px 3px 4.3px 1px #0000007A, 1px -1px 2.5px 0px #EBE0E082, 0px 4px 10.8px 2px #3F4D6C inset;
}

.container2withHover:hover {
    /* add hover styles here */
    background:var(--accent-color-normal);
    box-shadow:none;
    color:var(--bg-color);
}

.classDetailsData {
    background-color: var(--primary-dark-active);  
    border: 1px solid rgba(165, 230, 94, 0.26);
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
}


/* class details forms */
.classDetails {
    background: linear-gradient(8deg, rgba(135,141,203,0.25) 0%, rgba(24,26,45,1) 115%);
    box-shadow: 1px -1px 2.6px 0px rgba(235, 224, 224, 0.31);
}

.classDetailsData {
    background-color: var(--primary-dark-active);  
    border: 1px solid rgba(165, 230, 94, 0.26);
    box-shadow: -3px 4px 4px 1px rgba(0, 0, 0, 0.32);
}

.clipboardButtonBackgroundGradient {
    background: linear-gradient(105.63deg, #181A2D 28.16%, rgba(137, 137, 142, 0) 424.09%);
    box-shadow: 2px 2px 7.800000190734863px 2px rgba(211, 203, 203, 0.25) inset;
}