.darkMainContainer {
    min-height: 3rem;
    background: linear-gradient(16.79deg, #353A65 -8.03%, rgba(42, 46, 81, 0) 81.88%);
    box-shadow: -3px 4px 5.8px 5px #00000045, 3px -4px 4px 0px #B3AAAA2E;
}